<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="vueApp">
            <ul>
                <li v-for="todo in todos">
                    <span v-if="!todo.editing">{{todo.name}}</span>
                    <input v-if="todo.editing" v-model="todo.name">

                    <input v-if="!todo.editing" v-on:click="edit(todo)" type="button" value="edit">
                    <input v-if="todo.editing" v-on:click="save(todo)" type="button" value="save">
                    <input v-if="!todo.editing" v-on:click="remove(todo)" type="button" value="remove">
                    
                </li>
            </ul>
            <p>new todo:</p>
            <input v-model="currTodo" value="">
            <input v-on:click="addTodo" :disabled="currTodo.length === 0" type="button" value="add">
        </div>    
    </body>

    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="js/app.js"></script>
    
</html>     